/* Ignore non-dotfile directories */
[^.]*/**

.NERDTreeBookmarks
.bash_history
.bash_logout
.cache
.config/coc/
.config/configstore/
.config/discord/
.config/dmenuhist
.config/dotfiles/
.config/fnm/
.config/google-chrome/
.config/menus/
.config/nvim/autoload/
.config/nvim/plugged/
.config/nvim/undodir/
.config/pulse/
.config/zsh/zsh_history
.fnm/
.gnome/
.haxelib
.landscape/
.lesshst
.local/share/
.motd_shown
.mozilla/
.npm/
.nvm/
.oh-my-zsh/
.pki/
.profile
.shell.pre-oh-my-zsh
.ssh/
.sudo_as_admin_successful
.tmux/
.viminfo
.vscode-server/
.wget-hsts
.Xauthority
.zcompdump*
.zsh_history
