/* Ignore non-dotfile directories */
[^.]*/**

**/*.png
.NERDTreeBookmarks
.Xauthority
.bash_history
.bash_logout
.cache
.cargo/
.config/CastleDB/
.config/GIMP/
.config/Liri/
.config/QtProject.conf
.config/autostart/
.config/blender/
.config/coc/
.config/configstore/
.config/dconf/
.config/discord/
.config/dmenuhist
.config/dotfiles/
.config/expressvpn/
.config/fnm/
.config/gnupg/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/kcachegrindrc
.config/kdbgrc
.config/kdeglobals
.config/menus/
.config/mimeapps.list
.config/nsc-pyrus-server/
.config/nvim/autoload/
.config/nvim/ftdetect/elm.vim
.config/nvim/ftdetect/js.vim
.config/nvim/plugged/
.config/nvim/syntax/elm.vim
.config/nvim/undodir/
.config/nwjs/
.config/pulse/
.config/spotify/
.config/vifm/vifminfo
.config/zsh/zsh_history
.duc.db/
.elm-analyse/
.elm/
.fnm/
.gnome/
.gtk-recordmydesktop
.haxelib
.java
.landscape/
.lesshst
.local/bin/elm
.local/bin/epylint
.local/bin/imageio_download_bin
.local/bin/imageio_remove_bin
.local/bin/isort
.local/bin/pylint
.local/bin/pylupdate5
.local/bin/pyrcc5
.local/bin/pyreverse
.local/bin/pyside2-designer
.local/bin/pyside2-lupdate
.local/bin/pyside2-rcc
.local/bin/pyside2-uic
.local/bin/pyuic5
.local/bin/symilar
.local/bin/tools/bspwmfloat
.local/include/
.local/lib/
.local/share/
.motd_shown
.mozilla/
.npm/
.nv/
.nvm/
.oh-my-zsh/
.opam/
.pki/
.processing/
.profile
.pylint.d/
.python_history
.rustup/
.shell.pre-oh-my-zsh
.ssh/
.sudo_as_admin_successful
.tmux/
.viminfo
.vpython-root/
.vpython_cipd_cache/
.vscode-server/
.wget-hsts
.zcompdump*
.zsh_history
