/* Ignore non-dotfile directories */
[^.]*/**

.NERDTreeBookmarks
.bash_history
.bash_logout
.cache
.config/coc/
.config/configstore/
.config/dotfiles/
.config/nvim/autoload/
.config/nvim/plugged/
.config/nvim/undodir/
.haxelib
.landscape/
.lesshst
.motd_shown
.npm/
.nvm/
.oh-my-zsh/
.profile
.shell.pre-oh-my-zsh
.ssh/
.sudo_as_admin_successful
.tmux/
.viminfo
.vscode-server/
.wget-hsts
.zcompdump*
.zsh_history
